@page "/motions"
@attribute [Authorize]
@using Parlivote.Web.Views.Components.Motions
@using Parlivote.Web.Views.Components.Users
@using Parlivote.Web.Models.Views.Motions

<StateEvaluation State="@this.state">
    <Loading>
        <SpinnerBase Value="Motions" IsVisible="true" />
    </Loading>

    <Content>
        <div class="d-flex flex-row my-3">
            <h3 class="me-4">Anträge </h3>
            <ButtonBase Text="Antrag anlegen" OnClick="@(() => addMotionComponent.Show())" />
        </div>

        <CrudDataGridBase
            DataItems="motions"
            FieldsToIgnore="fieldsToIgnore"
            OnEditClicked="@((MotionView view) => editMotionComponent.Show(view))"
            OnDeleteClicked="@((MotionView view) => deleteMotionComponent.Show(view))">
            <HeaderTemplate>
                <th>Titel</th>
                <th>Status</th>
                <th>Antragssteller:in</th>
                <th>Sitzung</th>
            </HeaderTemplate>
        </CrudDataGridBase>
    </Content>
    
    <Error>
        <ErrorBase ErrorMessage="@this.error" />
    </Error>
</StateEvaluation>

<EditMotionComponent @ref="editMotionComponent" OnMotionSaved="LoadMotions"/>
<AddMotionComponent @ref="addMotionComponent" OnMotionAdded="LoadMotions"/>
<DeleteMotionDialog @ref="deleteMotionComponent" OnDeleted="LoadMotions"/>

