@page "/Identity/Account/Register"
@using System.Collections.ObjectModel
<StateEvaluation 
    State="@this.state" 
    LoadingText="Register"
    ErrorMessage="@this.error">
    <Content>
        <h2>Register</h2>

        <FormControlBase LabelText="E-Mail">
            <TextBoxBase @bind-Value="registration.Email"/>
        </FormControlBase>
        
        <FormControlBase LabelText="Email bestätigen">
            <TextBoxBase @bind-Value="registration.EmailConfirmation"/>
        </FormControlBase>
        
        <FormControlBase LabelText="Vorname">
            <TextBoxBase @bind-Value="registration.FirstName"/>
        </FormControlBase>
        
        <FormControlBase LabelText="Nachname (Bei Funktionsaccounts weglassen)">
            <TextBoxBase @bind-Value="registration.LastName"/>
        </FormControlBase>

        <FormControlBase LabelText="Passwort">
            <TextBoxBase @bind-Value="registration.Password"/>
        </FormControlBase>
        
        <FormControlBase LabelText="Rolle">
            <DropDownBase 
                TEntity="Tuple<string,string>" 
                TValue="string" 
                Items="@this.roles"
                ValueProperty="Item1"
                TextProperty="Item2"
                Placeholder="Rolle wählen..."
                @bind-Value="registration.Role" />
        </FormControlBase>
        
        <Success Visible="@this.registrationSuccessul">
            Registration Successful, logging in!
        </Success>
        
        <ErrorBase ErrorMessage="@this.error" ValidationErrors="@this.validationErrors" />

        <ButtonBase Text="Register" OnClick="RegisterAsync"/>
    </Content>
</StateEvaluation>

