@using Parlivote.Shared.Models.Motions
<ListGroupItem>
    <Title>@Motion.Text</Title>
    <Body>@($"Version {Motion.Version}")</Body>
    <Additional>
        <div class="d-flex align-items-center justify-content-center h-100 me-4">
            <span class="badge @this.statusPillCss rounded-pill" style="font-size: 1em;" @onclick="(() => changeMotionStateDialog.Show(this.Motion))">
                @Motion.State
            </span>
        </div>
        <Condition Evaluation="@resultsAvailable">
            <Match>
                <div class="d-flex align-items-center justify-content-between h-100">
                    <ButtonBase 
                        CustomCss="btn btn-primary btn-lg mx-2" 
                        Text="Result"
                        OnClick="@(() => motionResultDialog.Show())"/>
                </div>
            </Match>
        </Condition>
        
        <div class="d-flex align-items-center justify-content-between h-100">
            <ButtonBase 
                CustomCss="btn btn-primary btn-lg mx-2" 
                Text="Edit"
                OnClick="@(() => editMotionComponent.Show(Motion))"/>
        </div>
    </Additional>
</ListGroupItem>

<EditMotionComponent @ref="this.editMotionComponent" OnMotionSaved="@this.OnMotionChanged" />
<ChangeMotionStateDialog @ref="changeMotionStateDialog"/>
<MotionResultDialog @ref="this.motionResultDialog" MotionView="Motion" />