@using Parlivote.Shared.Models.Motions
<ListGroupItem>
    <Title><span @onclick="motionDetailComponent.Show">@Motion.Text</span></Title>
    <Body>@Motion.ApplicantName</Body>
    <Additional>
        <div class="d-flex align-items-center justify-content-center h-100 me-4">
            <span class="badge @this.statusPillCss rounded-pill" style="font-size: 1em; width: 8em;" @onclick="ShowResult">
                @Motion.State
            </span>
        </div>

        <ChairAuthorization>
            <div class="d-flex align-items-center justify-content-between h-100">
                <ButtonBase 
                    CustomCss="btn btn-primary btn-lg mx-2" 
                    Text="Bearbeiten"
                    OnClick="@(() => editMotionComponent.Show(Motion))"/>
            </div>
        </ChairAuthorization>
    </Additional>
</ListGroupItem>

<MotionDetailComponent @ref="motionDetailComponent" Motion="Motion" />
<EditMotionComponent @ref="editMotionComponent" OnMotionSaved="@this.OnMotionChanged" />
<MotionResultDialog @ref="motionResultDialog" MotionView="Motion" />