@using Parlivote.Web.Views.Components.Motions
<AccordionItem>
    <Header>
        <h5 class="d-flex flex-row mb-0">
            <b>@Meeting.Description</b>
            <span class="ms-2">(@Meeting.Start.ToString("dddd dd.MM.yy HH:mm"))</span>
        </h5>
    </Header>
    <OuterButtonHeader>
        <ButtonBase Text="+" />
    </OuterButtonHeader>

    <Body>

    <div class="btn-group w-100 mb-4" role="group">
        <ButtonBase Text="Edit Meeting" OnClick="@(() => editMeetingComponent.Show(Meeting))" />
        <ButtonBase Text="Meeting View" OnClick="@(() => NavigationManager.NavigateTo($"/meetings/{Meeting.Id}"))" />
        <ButtonBase Text="Delete Meeting" OnClick="confirmationDialog.Show" />
    </div>
    
    <div class="d-flex flex-row my-3 align-items-center">
        <h4 class="me-4 mb-0">Motions</h4>
        <ButtonBase CustomCss="e-success" Text="Add Motion" OnClick="(() => addMotionComponent.Show(this.Meeting))" />
    </div>

    <ListGroup>
        <Iterations Items="@Meeting.Motions">
            <MotionListItem Motion="@context" OnMotionChanged="OnMeetingChanged"/>
        </Iterations>
    </ListGroup>
    </Body>

</AccordionItem>

<EditMeetingComponent @ref="editMeetingComponent" OnMeetingChanged="OnMeetingChanged" />
<AddMotionComponent @ref="addMotionComponent" OnMotionAdded="OnMeetingChanged" />

<ConfirmationDialog @ref="confirmationDialog" Title="Confirm Delete" OnDelete="DeleteMeeting">
    @($"Do you really want to delete {Meeting.Description}?")
</ConfirmationDialog>